/** {
  border: 2px solid;
}-
li a {
  color: red;
}**/

li > a {
  color: blueviolet;
}
h1 + h4 {
  border: 4px dashed;
}

a[href="/recibo"] {
  color: orange;
}

li:nth-of-type(odd) {
  color: blueviolet;
}
